<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040295754-qb2qou5aciv8jifmi0hr3qc2clgf3501.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040295754-qb2qou5aciv8jifmi0hr3qc2clgf3501</string>
	<key>API_KEY</key>
	<string>AIzaSyAPfX_xUWzkxH_sJyxtGrjTWC0-lz-_nRs</string>
	<key>GCM_SENDER_ID</key>
	<string>1040295754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ThinhManh.SpartanClub</string>
	<key>PROJECT_ID</key>
	<string>spartan-club</string>
	<key>STORAGE_BUCKET</key>
	<string>spartan-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040295754:ios:322e4e7cca31f417</string>
	<key>DATABASE_URL</key>
	<string>https://spartan-club.firebaseio.com</string>
</dict>
</plist>